Repository plone/plone.app.robotframework, pull requests merged in 2018-08, with the labels that each got.

#83 Make Robottests work on Plone 5 - srly
  .gitignore
  .travis.yml
  CHANGES.rst
  CONTRIBUTORS.rst
  bootstrap.py
  buildout.cfg
  docs/source/saucelabs.rst
  requirements.txt
  setup.cfg
  setup.py
  src/plone/app/robotframework/i18n.py
  src/plone/app/robotframework/keywords.robot
  src/plone/app/robotframework/testing.py
  src/plone/app/robotframework/tests/docs/test_keywords.robot
  src/plone/app/robotframework/tests/test_autologin_library.robot
  src/plone/app/robotframework/tests/test_content.py
  src/plone/app/robotframework/tests/test_robot.py
  travis.cfg
  versions-staging.cfg
  versions.cfg
Labels: 01 type: bug, 12 prio: high, 23 status: testing

#82 Fixes for Python 3
  CHANGES.rst
  src/plone/app/robotframework/content.py
  src/plone/app/robotframework/remote.py
Labels: 22 status: in-progress

#84 Remove compatibility code for Plone 4.x
  CHANGES.rst
  src/plone/app/robotframework/i18n.py
  src/plone/app/robotframework/users.py
Labels: 04 type: enhancement, 13 prio: normal, 24 status: ready, 32 needs: review, 41 lvl: easy, 99 tag: Plone 5.x
